<!DOCTYPE html>
<html lang="az">
<head>
<meta charset="UTF-8">
<title>Şəxsi Portfoliya</title>
<link rel="stylesheet" href="css/style.css">
<style>
   body{background-color: silver;}
</style></head>
<body>

<h1 style="color: royalblue; text-align: center;"><b><i>Mənim Portfoliyam<i><b></h1>
<h2 style="background-color: royalblue;">Haqqımda</h2>
<ul>
   <form>
   <li>Adım: <input type="text" placeholder="Adınız"/></li>
   <li>Təcrübə müddətiniz: <input type="number" /></li>
   <li>Qısa şəxsi məlumat ve maraqlarınız: <input type="text" placeholder="Maraqlarinizi yazin" /></li>
   </form> 
</ul>
 <h2 style="background-color: royalblue;">Təhsil</h2> 
 <ul>
   <form>
    <li>Universitetin adi: <input type="text" placeholder="Universitetin adi" />
        Dərəcə: <input type="text" placeholder="Derecenizi yazin" />
        il: <input type="number" />
    <li>Məktəbin adı: <input type="text" placeholder="Mektebinizi yazin" />
    </form>
   </ul>
 <h2 style="background-color: royalblue;">İş Təcrübəsi</h2>
 <ul>
   <form>
    <li>İş yeri adı:<input type="text" placeholder="Is yeriniz" />
        Vəzifə: <input type="text" placeholder="vezifeniz" />
        İllər: <input type="number" placeholder="il" />
    </form>
   </ul>
 <h2 style="background-color: royalblue;">Layihələr</h2>
 <ul> 
   <form>
    <li>Layihə adı: <input type="text" placeholder="qisa melumat" />
    <li>Layihə adı: <input type="text" placeholder="layiheleriniz" />
    </form>
 </ul>
 <footer>
    <p><i>Əlaqə üçün email:<input type="text" placeholder="numune@mail.az"/><i></p>
 </footer>

</body>
</html>